/* styles.css */

* {
    margin: 0;
    color: white;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    min-height: 100vh;
    background-image: url('./imgs/poster.png');
    background-color: #000000BF;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;   
}

.container2{
    margin: auto;
    display: flex;
    flex-direction: column;
}


header {
    padding-top: 10em;
    padding-bottom: 5em;
    width: 680px;
    margin: 0 auto;
}

.menu {
    display: flex;
    justify-content: space-around;
}

.menu li, .social li,.temporada img ,.episodiosItem
 {
    list-style: none;
    cursor: pointer;
}

.itemsCentral {
    padding: 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.infos {
    width: 694px;
    height: 411px;
}

.infos h3 {
    padding-bottom: 10px;
    font-size: 36px;
    font-weight: 600;
    line-height: 43.57px;
}

.infos h6 {
    font-size: 16px;
    font-weight: 300;
    line-height: 19.36px;
    padding-bottom: 10px;
}

.infos span {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;

}

.lerMais {
    font-weight: 500;
    text-align: left;
    color: red;
}

.temporada {
    display: flex;
    align-items: center;
    padding-top: 2em;
}

.temporada span {
    margin-right: 0em; 
}

.temporada img {
    margin-left: 1em;
}

.episodios{
    display: flex;
}

.episodios div{
    margin-top: 1em;
    margin-right: 2em;
}

.episodios div img{
    max-width: 14em;
    border-radius: 8px;
    position: relative;
}

#terceira-imagem{
    position: relative;
}

#terceira-imagem::after {
    content: '';
    position: absolute;
    top: 19;
    left: 0;
    width: 100%;
    height: 88%;
    border-radius: 8px; 
    background: linear-gradient(to right, transparent 50%, rgb(238, 195, 138) 100%, rgb(255, 255, 255) 100%);
    pointer-events: none; 
  }

.episodios div span{
   color: rgba(245, 245, 245, 0.678);
}

.poster {
    width: 392px;
    height: 580px;
}

.social li{
    margin-bottom:  1em;
}

.footer {
    margin-top: 5em;
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 14px;
}

@media (max-width: 1415px) {
    .poster{
        max-width: 20em;
        max-height: 30em;
    }

    .episodios div img{
        max-width: 12em;
    }

}

@media (max-width: 1043px) {

    .itemsCentral{
        display: block;
        align-items: center;
        justify-content: center;
    }
    .poster{
       display: none;
    }

    .episodios div img{
        max-width: 18em;
    }

    .social ul{
        width: 100%; 
        display: flex;
        align-items: center; 
        justify-content:space-around; 
        padding:5em 15em;
    }

    .social ul li img{
        height: 2em;
    }

    .footer{
        padding: 0;
        margin: 0;
        justify-content: center; 
        text-align: center;
    }

}

