* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 100vh;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  /* Alinha os itens no centro verticalmente */
    background-color: black;
    margin: 2em;
}

li {
    margin-left: 5em;
    list-style: none;
    height: 31px;
    line-height: 31px;  /* Alinha o texto verticalmente dentro do li */
    
}

a{
    text-decoration: none;
    color: aliceblue;
}

#netflix {
    color: rgb(255, 0, 0);
    font-size: 30px;
    font-weight: bolder;
    line-height: 31px;  /* Ajusta o alinhamento vertical do texto Netflix */
}